.container{
    width: 80%;
    color: white;
}

h1{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

body, html{
    background: #06beb6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#48b1bf,#06beb6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#48b1bf,#06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    height: 100%;

    overflow: hidden;

    border: none;
}

#bSubmitCreate{
    float: left;
}

#bCancel{
  color: white;
  cursor: pointer;
  font-size: 20px;

  margin-left: 15px;
  margin-top: 10px;
  text-align: center;
  float: right;
}

#bCancel:hover{
    text-decoration: underline;
}

#inProjectName{
    margin-bottom: 10px;
}

#inProjectDescription {
    resize: none !important;
}